
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Global Integrity Finance</title>
    <!--=======================CSS============================-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!--======================= Top Header ============================-->
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="social-link">
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-meetup"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="link-view">
                        <li>+1 (214)-548-5190</li>
                        <li><a href="index.html">Login</a></li>
                        <li><a href="signup.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--======================= //Top Header ============================-->

    <!--======================= Header ============================-->
    <header class="top-fixed-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="home.html">
                    <img src="assets/images/logo.png" alt="Global Integrity Finance">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Apply
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Primary Residence</a>
                                <a class="dropdown-item" href="#">Hard Money</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUCTS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">HARD MONEY</a>
                                <a class="dropdown-item" href="#">BRIDGE LOANS</a>
                                <a class="dropdown-item" href="#">LONG-TERM RENTAL</a>
                                <a class="dropdown-item" href="#">PRIVATE EQUITY FUND</a>
                                <a class="dropdown-item" href="#">PRIMARY REFINANCE</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                For Brokers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Broker Affiliate Program</a>
                                <a class="dropdown-item" href="#">Broker Referal Program</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Draw request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Let’s Talk</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--======================= //Header ============================-->
 

    <!--======================== Login Block =======================-->
    <section class="login-block" style="min-height: 100vh;">
        <div class="container">
            <div class="mid-wrap">

                <div class="row">
                    
                    <div class="col-md-12">
                          <h1 class="login-headings">Let’s Get Started</h1>
                        <p>Tell us a little about yourself by completing the form below. We will then pair you with a dedicated sales consultant. Your sales consultant will be your primary point of contact and help you to accomplish your real estate investment goals.</p>

                        <div class="form-area registeration-fronend">
                             
                            <form>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                            <label>First Name*</label>
                                            <input type="text" class="form-control" >
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                            <label>Last Name*</label>
                                            <input type="text" class="form-control" >
                                       </div>
                                   </div> 
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                            <label>Email Address*</label>
                                            <input type="email" class="form-control" >
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                            <label>Phone Number*</label>
                                            <input type="text" class="form-control" >
                                       </div>
                                   </div> 
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                            <label>State*</label>
                                            <select  class="form-control" placeholder="State*">
                                                 
                                                <option name="state">Alabama</option>
                                                <option name="state">Alaska</option>
                                                <option name="state">Arizona</option>
                                                <option name="state">Arkansas</option>
                                                <option name="state">California</option>
                                                <option name="state">Colorado</option>
                                                <option name="state">Connecticut</option>
                                                <option name="state">Delaware</option>
                                                <option name="state">District of Columbia</option>
                                                <option name="state">Florida</option>
                                                <option name="state">Georgia</option>
                                                <option name="state">Hawaii</option>
                                                <option name="state">Idaho</option>
                                                <option name="state">Illinois</option>
                                                <option name="state">Indiana</option>
                                                <option name="state">Iowa</option>
                                                <option name="state">Kansas</option>
                                                <option name="state">Kentucky</option>
                                                <option name="state">Louisiana</option>
                                                <option name="state">Maine</option>
                                                <option name="state">Maryland</option>
                                                <option name="state">Massachusetts</option>
                                                <option name="state">Michigan</option>
                                                <option name="state">Minnesota</option>
                                            </select>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label>Select Which Areas of Real Estate Do You Primarily Operate In?*</label>
                                            <select  class="form-control" placeholder="State*">
                                                 
                                                <option name="state">FixNFlip</option>
                                                <option name="state">Construction</option>
                                                <option name="state">Rental</option>
                                                <option name="state">Multifamily</option>
                                                 
                                            </select>
                                       </div>
                                   </div> 
                                   <div class="col-md-12">
                                    <strong style="color: #fff; line-height: 45px;">Click your selection. To select more than one area, hold CTRL as you click.</strong>
                                   </div>
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Value of Existing REO Portfolio*</label>
                                         <input type="text" class="form-control"  >     
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label> Number of Flips Completed in the Last 3 Years*</label>
                                         <input type="text" class="form-control" placeholder=""> 
                                       </div>
                                   </div> 
                                   
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Number of Rental Units Owned*</label>
                                         <input type="text" class="form-control"  >     
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Number of New Construction Builds in the Last 3 Years*</label>
                                         <input type="text" class="form-control"  > 
                                       </div>
                                   </div> 
                                   
                                </div>
                                <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Do You Currently Have a Property That Needs Financing?*</label><br>
                                          <label style="margin-top: 10px;"><input type="radio" name="radio1"  checked=""> Yes 
                                          <input type="radio" name="radio1"  > No </label>
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                        <label>Notes (optional)</label>
                                         <input type="text" class="form-control"  > 
                                       </div>
                                   </div> 
                                   <div class="col-md-12">
                                       <label>In addition, you consent to the terms and conditions outlined <a href="#!">Privacy Policy*. </a></label>


                                          <label style="margin-top: 10px;"><input type="radio" name="radio2"  checked="" > By submitting this form I understand my data will be used by Lima One Capital to contact me about my request.
                                           </label>
                                   </div>
                                </div>
                                 
                                
                                <a class="custom-btn blue-btn" style="max-width: 200px;float: right;">Register</a> 

                            </form>
                        </div>
                    </div>
                     
                </div>
            </div>

        </div>
    </section>
    <!--======================== //Login Block =======================-->

     


    <!--=======================Javascript============================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/owl-carousel/js/owl.carousel.js"></script>
    <script src="assets/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/global-integrity-finance', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: false }); }</script>
<!-- Calendly badge widget end -->
 
 
</body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60e9868ed6e7610a49aa988b/1fa83b7pq';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>