<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Global Integrity Finance</title>
    <!--=======================CSS============================-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/owl-carousel/css/owl.carousel.min.css" rel="stylesheet">
    <link href="assets/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!--======================= Top Header ============================-->
    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="social-link">
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-meetup"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="link-view">
                        <li>+1 (214)-548-5190</li>
                        <li><a href="index.html">Login</a></li>
                        <li><a href="signup.html">Register</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--======================= //Top Header ============================-->

    <!--======================= Header ============================-->
    <header class="top-fixed-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="home.html">
                    <img src="assets/images/logo.png" alt="Global Integrity Finance">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Apply
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Primary Residence</a>
                                <a class="dropdown-item" href="#">Hard Money</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                PRODUCTS
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">HARD MONEY</a>
                                <a class="dropdown-item" href="#">BRIDGE LOANS</a>
                                <a class="dropdown-item" href="#">LONG-TERM RENTAL</a>
                                <a class="dropdown-item" href="#">PRIVATE EQUITY FUND</a>
                                <a class="dropdown-item" href="#">PRIMARY REFINANCE</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                For Brokers
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Broker Affiliate Program</a>
                                <a class="dropdown-item" href="#">Broker Referal Program</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Draw request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Let’s Talk</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--======================= //Header ============================-->

    <!--======================= Inner Headline Banner ============================-->
    <section class="inner-headline-banner" style="background: url(assets/images/inner-banner-1.webp) no-repeat center/cover;">
        <div class="container">
            <div class="head-text">
                <h1>Videos</h1>
            </div>
        </div>
    </section>
    <!--======================= //Inner Headline Banner ============================-->


    <!--======================== Single Video =======================-->
    <section class="single-video">
        <div class="container">
            <div class="mid-content">
                <h2>3 Keys For Success - Episode 2 - Christine Beckwith</h2>
                <p>Toby sits down with The Texas Investors Club to discuss what investors need for success.</p>
                <iframe src="https://www.youtube.com/embed/hQWTys_qF94?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <!--======================== /Single Video =======================-->

    <!--======================== Video Wrapper =======================-->
    <section class="video-slider">
        <div class="container">
            <h2>The Expert Series</h2>
            <div id="video-series-1" class="owl-carousel slide-view">
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/mvok0cbVbf0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 3 - The Tedescos</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/Fu5k7IphLmM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 1 - Adonis Lockett</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/LFyj1zrneiw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 4 - Kaylee McMahon</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/mvok0cbVbf0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 3 - The Tedescos</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/Fu5k7IphLmM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 1 - Adonis Lockett</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/LFyj1zrneiw?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>Global Integrity Finance Presents The Expert Series - Episode 4 - Kaylee McMahon</h5>
                </div>
            </div>
        </div>
    </section>
    <!--======================== //Video Wrapper =======================-->

    <!--======================== Video Wrapper =======================-->
    <section class="video-slider">
        <div class="container">
            <h2>3 Keys to Success</h2>
            <div id="video-series-2" class="owl-carousel slide-view">
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/TiMy1OqYRvU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys to Success - Episode 1 - The Texas Investors Club</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/4obiGiQAlpM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys For Success - Mini-Episode 1</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/hQWTys_qF94?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys For Success - Episode 2 - Christine Beckwith</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/TiMy1OqYRvU?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys to Success - Episode 1 - The Texas Investors Club</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/4obiGiQAlpM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys For Success - Mini-Episode 1</h5>
                </div>
                <div class="item">
                    <iframe src="https://www.youtube.com/embed/hQWTys_qF94?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5>3 Keys For Success - Episode 2 - Christine Beckwith</h5>
                </div>
            </div>
        </div>
    </section>
    <!--======================== //Video Wrapper =======================-->


    <!--======================= Contact Index ============================-->
    <section class="contact-index">
        <div class="row">
            <div class="col-md-5">
                <div class="contact-img">
                    <div class="container">
                        <img src="assets/images/contact-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="container">
                    <div class="contact-content">
                        <h2>Contact with us</h2>
                        <p>If your business is already well on the road to success, we can help ensure your continued good fortune with expert advice and planning. Give one of our
                            representatives a call today to schedule your free, no-obligation financial analysis.</p>
                        <form class="contact-iform">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Full Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Questions & Comment" rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <a class="custom-btn green-btn">Submit</a>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--======================= //Contact Index ============================-->

    <!--======================= Connect Broker ============================-->
    <section class="connect-broker">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="broker-text">
                        <h2>Connect with a mortgage broker in your community.</h2>
                        <p>A mortgage broker can be your trusted guide close to home.
                            They can really get to know you and tailor loan options to meet your needs.</p>
                        <a class="custom-btn green-btn">Affiliate Broker</a>
                    </div>
                </div>
                <div class="col-md-7">
                    <img src="assets/images/index-banner.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!--======================= //Connect Broker ============================-->


    <!--======================== Footer =======================-->
    <footer>
        <div class="container">

            <div class="footer-mid">
                <div class="footer-info">

                    <div class="footer_item">
                        <div class="footer-top">
                            <img src="assets/images/Logo_Footer.png" alt="" class="footer-logo">
                        </div>
                        <p>Buy a home, refinance or manage your mortgage online with America's largest mortgage lender</p>

                        <ul class="social-link">
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-meetup"></i></a></li>
                        </ul>
                    </div>



                    <div class="footer_item">
                        <h6>Quick Links</h6>
                        <ul>
                            <li><a href="#">Hard Money Quick App</a></li>
                            <li><a href="#">Broker Referal Program</a></li>
                            <li><a href="#">Broker Affiliate Program</a></li>
                        </ul>
                    </div>

                    <div class="footer_item">
                        <h6>More</h6>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Personal Loan</a></li>
                        </ul>
                    </div>

                    <div class="footer_item">
                        <div class="address_link">
                            <h6>Address</h6>
                            <p>321 N. Central Expressway, Suite 360, McKinney, TX 75070</p>
                        </div>

                        <div class="address_link">
                            <h6>Business Phone</h6>
                            <p>+1 (214)-548-5190</p>
                        </div>

                        <div class="address_link">
                            <h6>Email Address</h6>
                            <p>LO@globalintegrityfinance.com</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="footer-partners">
                <ul>
                    <li><img src="assets/images/footer/1.png" alt=""></li>
                    <li><img src="assets/images/footer/2.png" alt=""></li>
                    <li><img src="assets/images/footer/3.png" alt=""></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2021 Global Integrity Finance | All Rights Reserved. | <a href="#">Privacy Policy</a></p>
            </div>
        </div>
    </footer>
    <!--======================== //Footer =======================-->


    <!--=======================Javascript============================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/owl-carousel/js/owl.carousel.js"></script>
    <script src="assets/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
    <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/global-integrity-finance', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: false }); }</script>
<!-- Calendly badge widget end -->

</body>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/60e9868ed6e7610a49aa988b/1fa83b7pq';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</html>